<% include _header %>

<h1>Edit your profile</h1>

<div class="row">
	<div class="col-md-6">
		<form action="/login" method="POST">
		  <div class="form-group">
		    <label for="username">Display Name</label>
		    <input type="text" class="form-control" name="displayName" id="displayName" placeholder="Your display name here ..." value="<%= currentUser.displayName  || '' %>">
		  </div>
		  <div class="form-group">
		    <label for="bio">Tell us about yourself</label>
		    <textarea name="bio" class="form-control" placeholder="Tell us about yourself ...">
		    	<%= currentUser.bio || ''%>
		    </textarea>
		  </div>
		  <div class="form-group"><input type="submit" name="password" value="Update" class="btn btn-primary"></div>
		</form>			
	</div>
</div>

<% include _footer %>