<% include _header %>

<h1>Sign up</h1>

<div class="row">
	<div class="col-md-6">
		<form action="/signup" method="POST">
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" name="username" id="username" placeholder="Your username here ...">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Your password here ...">
		  </div>
		  <div class="form-group"><input type="submit" name="password" value="Sign up" class="btn btn-primary"></div>
		</form>			
	</div>
</div>

<% include _footer %>